<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ subject }}</title>
    <style type="text/css">
        /* -------------------------------------
            INLINED WITH https://putsmail.com/inliner
        ------------------------------------- */
        /* -------------------------------------
            RESPONSIVE AND MOBILE FRIENDLY STYLES
        ------------------------------------- */
        @media only screen and (max-width: 620px) {
            table[class=body] h1 {
                font-size: 28px !important;
                margin-bottom: 10px !important;
            }

            table[class=body] p,
            table[class=body] ul,
            table[class=body] ol,
            table[class=body] td,
            table[class=body] span,
            table[class=body] a {
                font-size: 16px !important;
            }

            table[class=body] .wrapper,
            table[class=body] .article {
                padding: 0 !important;
            }

            table[class=body] .content {
                padding: 0 !important;
            }

            table[class=body] .container {
                padding: 0 !important;
                width: 100% !important;
            }

            table[class=body] .main {
                border-left-width: 0 !important;
                border-radius: 0 !important;
                border-right-width: 0 !important;
            }

            table[class=body] .btn table {
                width: 100% !important;
            }

            table[class=body] .btn a {
                width: 100% !important;
            }

            table[class=body] .img-responsive {
                height: auto !important;
                max-width: 100% !important;
                width: auto !important;
            }
        }

        /* -------------------------------------
            PRESERVE THESE STYLES IN THE HEAD
        ------------------------------------- */
        @media all {
            .ExternalClass {
                width: 100%;
            }

            .ExternalClass,
            .ExternalClass p,
            .ExternalClass span,
            .ExternalClass font,
            .ExternalClass td,
            .ExternalClass div {
                line-height: 100%;
            }

            .apple-link a {
                color: inherit !important;
                font-family: inherit !important;
                font-size: inherit !important;
                font-weight: inherit !important;
                line-height: inherit !important;
                text-decoration: none !important;
            }

            .btn-primary table td:hover {
                background-color: #34495e !important;
            }

            .btn-primary a:hover {
                background-color: #34495e !important;
                border-color: #34495e !important;
            }
        }

        /* Basic Fluid Image Pattern CSS */
        @media only screen and (max-width: 599px) {
            img.pattern {
                max-width: 100%;
                height: auto !important;
            }
        }
    </style>
</head>
<body class=""
      style="background-color:#f6f6f6;font-family:sans-serif;-webkit-font-smoothing:antialiased;font-size:14px;line-height:1.4;margin:0;padding:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
<table border="0" cellpadding="0" cellspacing="0" class="body"
       style="border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;background-color:#f6f6f6;width:100%;">
    <tr>
        <td style="font-family:sans-serif;font-size:14px;vertical-align:top;">&nbsp;</td>
        <td class="container"
            style="font-family:sans-serif;font-size:14px;vertical-align:top;display:block;max-width:580px;padding:10px;width:580px;Margin:0 auto !important;">
            <div class="content"
                 style="box-sizing:border-box;display:block;Margin:0 auto;max-width:580px;padding:10px;">
                <!-- START CENTERED WHITE CONTAINER -->
                <span class="preheader"
                      style="color:transparent;display:none;height:0;max-height:0;max-width:0;opacity:0;overflow:hidden;mso-hide:all;visibility:hidden;width:0;">{{ subject }}</span>
                <table class="main"
                       style="border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;background:#fff;border-radius:3px;width:100%;">
                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td class="wrapper"
                            style="font-family:sans-serif;font-size:14px;vertical-align:top;box-sizing:border-box;padding: 0;">
                            <table border="0" cellpadding="0" cellspacing="0"
                                   style="border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;width:100%;">
                                {% if header_image %}
                                    <tr>
                                        <td style="font-family:sans-serif;font-size:14px;vertical-align:top;padding: 0;">
                                            <img class="pattern" src="{{ header_image }}"
                                                 alt="Header {{ company_name }}" width="100%" height="200"
                                                 style="display: block; border: 0;"/>
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td style="font-family:sans-serif;font-size:14px;vertical-align:top;padding: 20px 30px 35px 30px;">
                                        {{ content | raw }}
                                        {% if empty_layout is not defined or empty_layout != true %}
                                            <p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin: 15px 0;">{{ lang('mail_customer_service_speech') }}</p>
                                            <p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;">{{ lang('mail_signature') }}</p>
                                            <p style="margin: 0;font-family:sans-serif;font-size:14px;font-weight:normal;">
                                                <a style="color: #31a7fe;text-decoration:none;"
                                                   href="mailto:{{ contact_address }}">{{ contact_address }}</a>
                                            </p>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>

                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- END MAIN CONTENT AREA -->
                </table>
                <!-- START FOOTER -->
                <div class="footer" style="clear:both;padding-top:10px;text-align:center;width:100%;">
                    <table border="0" cellpadding="0" cellspacing="0"
                           style="border-collapse:separate;mso-table-lspace:0pt;mso-table-rspace:0pt;width:100%;">
                        <tr>
                            <td class="content-block"
                                style="font-family:sans-serif;font-size:14px;vertical-align:top;color:#999999;text-align:center;">
                                <p style="margin:0;font-size: 11px;">{{ lang('mail_question_about_company') }}</p>
                                <p style="margin:0;font-size: 11px;"><a target="_blank"
                                                                        style="font-weight: 600;color: #31a7fe;text-decoration:underline;"
                                                                        href="{{ 'https://www.ystos.com/' ~ 'faq' }}"
                                                                        title="{{ lang('mail_check_faq') }}">{{ lang('mail_check_faq') }}</a>
                                </p>
                                <a target="_blank" href="{{ 'https://www.ystos.com' }}" title="{{ company_name }}"><img
                                            style="margin-top: 15px;" width="100px" src="{{ mail_logo }}"
                                            alt="{{ company_name }} Logo"></a>
                                <p style="margin:0;font-size:11px;color: #bebfc1;">
                                    {% for key, social in socials %}
                                        {% if not loop.first %}
                                            <span> - </span>
                                        {% endif %}
                                        <a target="_blank" style="color: #bebfc1;" href="{{ social['url'] }}"
                                           title="{{ key | capitalize }}">{{ key | capitalize }}</a>
                                    {% endfor %}
                                </p>
                                <br>

                            </td>
                        </tr>
                    </table>
                </div>
                <!-- END FOOTER -->
                <!-- END CENTERED WHITE CONTAINER -->
            </div>
        </td>
        <td style="font-family:sans-serif;font-size:14px;vertical-align:top;">&nbsp;</td>
    </tr>
</table>
</body>
</html>
