{{ include('mail/template/component/title.twig', 'Lie ton compte bancaire') }}
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">{{ lang('mail_validation_hello_you') | format( first_name) | raw }}</p>
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">
    Tu a publié un article hier sur Ystos.com. Nous avons bien enregistré cette publication mais nous ne pouvons pas l'ajouter à notre catalogue tant que tu nous a pas fourni tes coordonnées bancaires.
</p>
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">
    Ne t'en fait pas tes coordonnées bancaires sont utilisées seulement pour pouvoir te redonner l'argent de tes ventes. De plus il n'y a aucun stockage de ces coordonnées sur le site, elle sont directement transmise à <a href="https://www.mangopay.com">Mangopay</a> qui est notre partenaire pour la sécurisation de transaction.    
</p>
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">
    Si tu à besoin de plus d'information prend directement contact avec moi <a href="mailto:jeremy.platon@ystos.com">jeremy.platon@ystos.com</a>.
</p>

{{ include('mail/template/component/call_to_action.twig', { 'url': config.item('base_public_url') ~ '/account/bank_account', 'text' : 'Ajouter les coordonnées bancaires' }) }}
