{{ include('mail/template/component/title.twig', { 'title': lang('forgot_password_title') | format( first_name ) } ) }}
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">{{ lang('forgot_password_hello_you') | format( first_name) | raw }}</p>
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">{{ lang('forgot_password_line_1') | raw}}</p>
{{ include('mail/template/component/call_to_action.twig', { 'url': config.item('base_public_url') ~ '/reset-password/'~ (email|url_encode) ~ '/' ~ token, 'text' : lang('forgot_password_button') }) }}
