{{ include('mail/template/component/title.twig', { 'title': lang('mail_validation_title') | format( first_name ) } ) }}
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">{{ lang('mail_validation_hello_you') | format( first_name) | raw }}</p>
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">{{ lang('mail_validation_line_1') | raw}}</p>
{{ include('mail/template/component/call_to_action.twig', { 'url': config.item('base_public_url') ~ '/validate/email?token=' ~ token, 'text' : lang('mail_validation_button') }) }}
