<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">{{ lang('mail_hello_you') }}</p>
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">{{ lang('mail_only_three_days_left_line_1') }}</p>
{{ include('mail/template/component/call_to_action.twig', { 'url': 'https://ystos.com/sells/', 'text' : lang('mail_only_three_days_left_button') }) }}
