<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">{{ lang('mail_rate_seller_hello_you') | format( first_name) }}</p>
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">{{ lang('mail_rate_seller_line_1') | format(product_title) }}</p>
{{ include('mail/template/component/call_to_action.twig', { 'url': config.item('base_public_url') ~ 'sell/feedback?token=' ~ feedback_token, 'text' : lang('mail_rate_seller_button') }) }}
