{{ include('mail/template/component/title.twig', { 'title': lang('mail_new_message_seller_title') | format( sender_first_name ) } ) }}
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">{{ lang('mail_new_message_seller_hello_you') | format( receiver_first_name) | raw }}</p>
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">{{ lang('mail_new_message_seller_line_1') | format(sender_first_name,product_title) | raw}}</p>
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">{{ lang('mail_new_message_seller_line_2') }}</p>
{{ include('mail/template/component/call_to_action.twig', { 'url': config.item('base_public_url') ~ 'account/messaging', 'text' : lang('mail_new_message_seller_button') }) }}
