<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary" style="border-collapse:separate;mso-table-lspace:0pt;mso-table-rspace:0pt;box-sizing:border-box;width:100%;">
    <tbody>
    <tr>
        <td align="center" style="font-family:sans-serif;font-size:14px;vertical-align:top;">
            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;mso-table-lspace:0pt;mso-table-rspace:0pt;width:100%;width:auto;">
                <tbody>
                <tr>
                    <td style="font-family:sans-serif;font-size:14px;vertical-align:top;border-radius:12px;text-align:center;background-color:#31a7fe;">
                        <a href="{{ url }}" target="_blank" style="border-radius:12px;box-sizing:border-box;cursor:pointer;display:inline-block;font-size:14px;font-weight:600;margin:0;padding:10px 25px;text-decoration:none;background-color:#31a7fe;border-color:#31a7fe;color:#ffffff;">{{ text }}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>