{{ include('mail/template/component/title.twig', { 'title': 'Offre expirée' } ) }}
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">{{ lang('mail_rejected_offer_hello_you') | format( first_name) | raw }}</p>
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">L'offre concernant le produit {{product_title}} a expirée.</p>
