{{ include('mail/template/component/title.twig', { 'title': lang('mail_new_offer_buyer_title') | format( first_name ) } ) }}
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">{{ lang('mail_new_offer_buyer_hello_you') | format( first_name) | raw }}</p>
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">{{ lang('mail_new_offer_buyer_line_1') | raw}}</p>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;mso-table-lspace:0pt;mso-table-rspace:0pt;box-sizing:border-box;width:100%;">
    <tbody>
    <tr>
        <td align="center" style="font-family:sans-serif;font-size:14px;vertical-align:top;">
            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;mso-table-lspace:0pt;mso-table-rspace:0pt;width:100%;width:auto;">
                <tbody>
                <tr>
                    <td style="text-align:center;">
                        <span style="color: #32a8ff;font-size: 20px;">{{ validation_code }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">{{ lang('mail_new_offer_buyer_line_2') | raw}}</p>
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">{{ lang('mail_new_offer_buyer_line_3') | raw}}</p>
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">{{ lang('mail_new_offer_buyer_line_4') | raw}}</p>
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">{{ lang('mail_new_offer_buyer_line_5') | raw}}</p>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;mso-table-lspace:0pt;mso-table-rspace:0pt;box-sizing:border-box;width:100%;">
    <tbody>
    <tr>
        <td align="center" style="font-family:sans-serif;font-size:14px;vertical-align:top;">
            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;mso-table-lspace:0pt;mso-table-rspace:0pt;width:100%;width:auto;">
                <tbody>
                <tr>
                    <td style="text-align:center;">
                        <span style="color: #32a8ff;font-size: 20px;">{{ phone }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
{{ include('mail/template/component/call_to_action.twig', { 'url': config.item('base_public_url') ~ '/account/me', 'text' : lang('mail_new_offer_buyer_button') }) }}
