{{ include('mail/template/component/title.twig', { 'title': lang('mail_rejected_offer_title') | format( first_name ) } ) }}
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">{{ lang('mail_rejected_offer_hello_you') | format( first_name) | raw }}</p>
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">{{ lang('mail_rejected_offer_line_1') | format(product_title) | raw}}</p>
