{{ include('mail/template/component/title.twig', { 'title': 'Plus que 4 jours' } ) }}
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">{{ lang('mail_rejected_offer_hello_you') | format( first_name) | raw }}</p>
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">Il ne reste plus que 4 jours avant l'expiration de l'offre convernant le produit {{product_title}}. Dépéche toi avant qu'il ne soit trop tard.</p>
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">Au cas où on te remets son numéro de téléphone.</p>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;mso-table-lspace:0pt;mso-table-rspace:0pt;box-sizing:border-box;width:100%;">
    <tbody>
    <tr>
        <td align="center" style="font-family:sans-serif;font-size:14px;vertical-align:top;">
            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;mso-table-lspace:0pt;mso-table-rspace:0pt;width:100%;width:auto;">
                <tbody>
                <tr>
                    <td style="text-align:center;">
                        <span style="color: #32a8ff;font-size: 20px;">{{ phone }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

